 body {

   margin: 0;
   text-align: center;
   font-family: 'Zeyada', cursive;

 }

 .top-container {
   background-color: #EAF6F6;
   padding: 20px;
   padding-top: 100px;
   text-align: center;

 }

 .top-cloud {
   position: absolute;
   right: 300px;
   top: 50px;
 }

 hr {
   background-color: #EAF6F6;
   border-style: none;
   border-bottom: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   height: 0px;
   width: 4%;
   margin: 100px auto;
 }

 h1 {
   font-size: 5.625rem;
   color: #66BFBF;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
 }

 h2 {
   font-size: 2.5rem;
   color: #66BFBF;
   font-family: 'Shadows Into Light', cursive;
   font-weight: normal;
   text-decoration: underline;
   padding-bottom: 20px;
 }

 .bottom-cloud {
   position: absolute;
   left: 200px;
   bottom: 70%;
 }

 h3 {
   color: #11999E;
 }

 .msg {
   font-size: 25px;
 }

 a {
   color: #11999E;
   margin: 10px 20px;
   text-decoration: none;
 }

 a:hover {
   color: #EAF6F6;
 }

 p {
   color: #40514E;
   line-height: 2;
   
 }



 .second-container {
   margin: 100px;
 }

 .skills {
   color: #66BFBF;
   font-family: 'Alkatra', cursive;

 }

 .profile {
   color: #66BFBF;
   font-family: 'Alkatra', cursive;
 }

 .about {
   text-align: left;
   margin-left: 25%;
   margin-right: 20%;
 }

 .skill-row {
   width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;
   line-height: 2;

 }

 .manual {
   width: 25%;
   float: left;
   margin-right:10px;

 }

 .automation {
   width: 25%;
   float: right;
   margin-left: 30px;

 }

 .register {
   color: #EAF6F6;
   font-size: 0.7rem;
   padding: 20px 0;
 }

 .selenium {
   width: 20%;
   float: left;
   margin-right: 30px;

 }

 .tosca {
   width: 20%;
   float: right;
   margin-left: 30px;

 }

 .btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: linear-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 28;
   -moz-border-radius: 28;
   border-radius: 28px;
   font-family: Arial;
   color: #ffffff;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
 }

 .btn:hover {
   background: #3498db;
   background-image: -webkit-linear-gradient(top, #3498db, #3498db);
   background-image: -moz-linear-gradient(top, #3498db, #3498db);
   background-image: -ms-linear-gradient(top, #3498db, #3498db);
   background-image: -o-linear-gradient(top, #3498db, #3498db);
   background-image: linear-gradient(to bottom, #3498db, #3498db);
   text-decoration: none;
 }


 .bottom-container {
   background-color: #66BFBF;
   font-family: 'Chivo Mono', monospace;
   padding: 50px 0 20px;
 }